<br>

<% if user_signed_in? %>

    <h1>New client</h1>

    <%= render "form", client: @client %>

    <br>

    <%= link_to "Back to clients", clients_path, class:"btn btn-secondary btn-sm" %>
<% else %>

<p>Please to Sing In</p>

<%end%>